.bgded 
{
    background-position: center;
}

.google_map
{
    width:30%;
    margin-right:2%;
    float: left ;
}

.bu_logo
{
    width:30% ;
    float:left ;
}

.search_bar
{
    width:30% ;
    float:left ;
}

